{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
      },
      "debug": true
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types"
  ]
}
